page-home {
  .custom .grid {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .custom .col {
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .custom .row {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .custom-img {
    height: 95% !important;
    width: 100% !important;
    filter: brightness(60%);
    object-fit: cover;
  }

  .custom-img-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .custom .scroll-content {
    padding: 0 !important;
    margin: 0 !important;
  }
}
