page-champions-new {
  .item-error > div {
    border-bottom: 1px solid red !important;
  }

  .item-valid > div {
    border-bottom: 1px solid #dedede !important;
    box-shadow: none !important;
  }

  .confirm-button {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 15px;
  }
}
