champions-form {
  .error-message {
    color: red;
    margin-left: 15px;
  }

  .champion-image {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 30px;
  }

  .item-error > div {
    border-bottom: 1px solid red !important;
  }

  .item-valid > div {
    border-bottom: 1px solid #dedede !important;
    box-shadow: none !important;
  }
}
